
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.view-loading-awal-light-oSD {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8b3c4;
  border-radius: 4.4rem;
  box-sizing: border-box;
  padding-bottom: 0.8rem;

  .auto-group-ily1-hXb {
    height: 74.6rem;
    position: relative;
    flex-shrink: 0;
    margin-bottom: 6.2rem;
    width: 100%;

    .statusbar-iphone-13-13-pro-E1j {
      box-sizing: border-box;
      top: 0.9rem;
      display: flex;
      overflow: hidden;
      align-items: center;
      padding: 0rem 1.867rem 0rem 2.4rem;
      width: 37.5rem;
      height: 4.4rem;
      position: absolute;
      left: 0;

      .left-side-JXP {
        margin: 1.2rem 2.8rem 1.1rem 0rem;
        width: 5.4rem;
        height: calc(100% - 2.3rem);
        border-radius: 2.4rem;
        flex-shrink: 0;

        .statusbar-time-pkd {
          font-size: 1.5rem;
          line-height: 1.3333333333;
          font-style: italic;
          font-family: Montserrat, 'Source Sans Pro';
          box-sizing: border-box;
          height: 100%;
          text-align: center;
          color: #000000;
          white-space: nowrap;
          border-radius: 2.4rem;
          padding: 0.1rem 1.4rem 0rem 1.4rem;
          width: 100%;
          letter-spacing: -0.05rem;
        }
      }
      .notch-V65 {
        flex-shrink: 0;
        margin: 0rem 1.967rem 1.5rem 0rem;
        width: 16.4rem;
        height: 3.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .right-side-QD3 {
        align-items: center;
        flex-shrink: 0;
        margin: 1.733rem 0rem 1.533rem 0rem;
        height: calc(100% - 3.2664rem);
        display: flex;

        .mobile-signal-jFK {
          margin: 0rem 0.503rem 0rem 0rem;
          width: 1.7rem;
          height: 1.0667rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .wifi-FDf {
          margin: 0rem 0.503rem 0.037rem 0rem;
          width: 1.5272rem;
          height: 1.0966rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .battery-mSu {
          margin-top: 0.0003rem;
          width: 2.4328rem;
          height: 1.1333rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .auto-group-zznf-CYD {
      left: 1.6rem;
      flex-direction: column;
      top: 3.2rem;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      padding: 16.1rem 5.25rem 0rem 5.65rem;
      width: 34.3rem;
      height: 71.4rem;
      position: absolute;

      .createalogowiththenameblossombeautysalon-1-67o {
        vertical-align: top;
        border-radius: 100rem;
        flex-shrink: 0;
        margin: 0rem 0.5rem 31.3rem 0rem;
        width: 22rem;
        height: 22rem;
        object-fit: cover;
      }
      .powered-by-upn-veteran-yogyakarta-mjj {
        text-align: center;
        font-family: Bebas Neue, 'Source Sans Pro';
        white-space: nowrap;
        align-items: baseline;
        flex-shrink: 0;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.05rem;
        color: #ffffff;
        display: flex;

        .powered-by-upn-veteran-yogyakarta-mjj-sub-0 {
          letter-spacing: -0.05rem;
          color: #ffffff;
          font-family: Bebas Neue, 'Source Sans Pro';
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.3333333333;
        }
        .powered-by-upn-veteran-yogyakarta-mjj-sub-1 {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 0.8333333333;
          letter-spacing: -0.05rem;
          color: #ffffff;
          font-family: Bebas Neue, 'Source Sans Pro';
        }
        .powered-by-upn-veteran-yogyakarta-mjj-sub-2 {
        }
      }
    }
  }
  .home-indicator-UAH {
    flex-shrink: 0;
    margin: 0rem 12rem 0rem 12.1rem;
    width: calc(100% - 24.1rem);
    height: 0.5rem;
    background-color: #000000;
    border-radius: 10rem;
  }
}
