
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 37.5rem;
}.view-register-light-88V {
  width: 100%;
  height: 86.6rem;
  position: relative;
  background-color: #f8b3c4;
  border-radius: 4.4rem;

  .statusbar-iphone-13-13-pro-GEh {
    box-sizing: border-box;
    padding: 0rem 1.867rem 0rem 2.4rem;
    height: 4.4rem;
    position: absolute;
    left: 0;
    overflow: hidden;
    width: 37.5rem;
    top: 0.9rem;
    display: flex;
    align-items: center;

    .left-side-Yi1 {
      margin: 1.2rem 2.8rem 1.1rem 0rem;
      width: 5.4rem;
      height: calc(100% - 2.3rem);
      border-radius: 2.4rem;
      flex-shrink: 0;

      .statusbar-time-fGq {
        font-size: 1.5rem;
        line-height: 1.3333333333;
        font-style: italic;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        border-radius: 2.4rem;
        padding: 0.1rem 1.4rem 0rem 1.4rem;
        text-align: center;
        letter-spacing: -0.05rem;
      }
    }
    .notch-hzD {
      height: 3.1rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin: 0rem 1.967rem 1.5rem 0rem;
      width: 16.4rem;
    }
    .right-side-EUM {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 1.733rem 0rem 1.533rem 0rem;
      height: calc(100% - 3.2664rem);

      .mobile-signal-wtZ {
        flex-shrink: 0;
        margin: 0rem 0.503rem 0rem 0rem;
        width: 1.7rem;
        height: 1.0667rem;
        object-fit: contain;
        vertical-align: top;
      }
      .wifi-U7o {
        margin: 0rem 0.503rem 0.037rem 0rem;
        width: 1.5272rem;
        height: 1.0966rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .battery-bCR {
        margin-top: 0.0003rem;
        width: 2.4328rem;
        height: 1.1333rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .v-frame-KPK {
    position: absolute;
    left: 1.6rem;
    top: 0;
    align-items: center;
    padding: 15.1rem 0rem 5.3rem 0rem;
    height: 86.6rem;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 34.3rem;

    .register-pay {
      font-weight: 700;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 2.8999rem;
      text-align: center;
      font-size: 3.4rem;
      line-height: 1.2058823529;
      letter-spacing: 0.0374rem;
    }
    .segmentedpicker-LZK {
      padding: 0.2rem 0.395rem 0.2rem 0.2rem;
      height: 3.2002rem;
      overflow: hidden;
      position: relative;
      display: flex;
      border-radius: 0.891rem;
      margin-bottom: 1.9999rem;
      box-sizing: border-box;
      background-color: rgba(118, 118, 128, 0.1199999973);
      flex-shrink: 0;
      width: 100%;
      align-items: center;

      .segmentedpicker-option-3Cq {
        font-size: 1.3rem;
        box-sizing: border-box;
        box-shadow: 0 0.3rem 0.1rem rgba(0, 0, 0, 0.0399999991), 0 0.3rem 0.8rem rgba(0, 0, 0, 0.1199999973);
        background-color: #ffffff;
        height: 100%;
        color: #000000;
        white-space: nowrap;
        border: solid 0.05rem rgba(0, 0, 0, 0.0399999991);
        display: flex;
        width: 16.95rem;
        line-height: 1.3846153846;
        border-radius: 0.693rem;
        margin-right: 6.65rem;
        justify-content: center;
        letter-spacing: -0.0078rem;
        font-style: italic;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        align-items: center;
      }
      .segmentedpicker-option-dgq {
        margin: 0.5rem 0rem 0.5rem 0rem;
        height: calc(100% - 1.0002rem);
        font-weight: 400;
        width: 10.1052rem;
        justify-content: center;
        line-height: 1.3846153846;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        align-items: center;
        font-size: 1.3rem;
        font-family: Montserrat, 'Source Sans Pro';
        display: flex;
        letter-spacing: -0.0078rem;
      }
    }
    .text-fields-USZ {
      flex-shrink: 0;
      margin-bottom: 1.9rem;
      width: 100%;
      row-gap: 1rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .email-textfield-1hP {
        line-height: 1.2941176471;
        color: #c9c9ce;
        white-space: nowrap;
        box-sizing: border-box;
        width: 100%;
        font-size: 1.7rem;
        font-family: Montserrat, 'Source Sans Pro';
        background-color: #f2f2f7;
        border-radius: 0.8rem;
        flex-shrink: 0;
        padding: 1.1rem 1.6rem;
        font-weight: 400;
        letter-spacing: -0.0408rem;
      }
      .email-textfield-hq7 {
        color: #c9c9ce;
        background-color: #f2f2f7;
        border-radius: 0.8rem;
        flex-shrink: 0;
        letter-spacing: -0.0408rem;
        font-family: Montserrat, 'Source Sans Pro';
        box-sizing: border-box;
        padding: 1.1rem 1.6rem;
        width: 100%;
        font-size: 1.7rem;
        font-weight: 400;
        line-height: 1.2941176471;
        white-space: nowrap;
      }
      .email-textfield-ot9 {
        font-size: 1.7rem;
        line-height: 1.2941176471;
        letter-spacing: -0.0408rem;
        white-space: nowrap;
        border-radius: 0.8rem;
        box-sizing: border-box;
        padding: 1.1rem 1.6rem;
        width: 100%;
        font-weight: 400;
        color: #c9c9ce;
        font-family: Montserrat, 'Source Sans Pro';
        background-color: #f2f2f7;
        flex-shrink: 0;
      }
      .password-textfield-WnZ {
        background-color: #f2f2f7;
        border-radius: 0.8rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.1rem 1.4rem 1.1rem 1.6rem;
        width: 100%;
        height: 4.4rem;

        .password-3Xb {
          align-items: center;
          width: 100%;
          height: 100%;
          display: flex;

          .password-Q7F {
            font-size: 1.7rem;
            letter-spacing: -0.0408rem;
            color: #c9c9ce;
            margin-right: 22.4rem;
            line-height: 1.2941176471;
            font-family: Montserrat, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-weight: 400;
          }
          .item--Kzu {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.7rem;
            font-weight: 400;
            line-height: 1.2941176471;
            letter-spacing: -0.0408rem;
            color: rgba(60, 60, 67, 0.3000000119);
            font-family: Montserrat, 'Source Sans Pro';
          }
        }
      }
    }
    .frame-button-dVo {
      justify-content: center;
      margin-bottom: 7rem;
      font-family: Montserrat, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      width: 100%;
      letter-spacing: -0.0408rem;
      background-color: #007aff;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.7rem;
      font-weight: 400;
      border-radius: 0.8rem;
      height: 4.4rem;
      line-height: 1.2941176471;
      color: #ffffff;
      display: flex;
    }
    .v-frame-K7j {
      flex-shrink: 0;
      margin: 0rem 12rem 17.4rem 0.05rem;
      width: calc(100% - 12.05rem);
      display: flex;
      align-items: center;

      .sudah-punya-akun-qrm {
        line-height: 1.2941176471;
        color: #000000;
        font-family: Montserrat, 'Source Sans Pro';
        margin-right: 1.05rem;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: -0.0408rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .login-ZXs {
        line-height: 1.2941176471;
        font-family: Montserrat, 'Source Sans Pro';
        flex-shrink: 0;
        letter-spacing: -0.0408rem;
        text-decoration-line: underline;
        color: #007aff;
        white-space: nowrap;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 400;
      }
    }
    .home-indicator-fqo {
      width: calc(100% - 20.9rem);
      height: 0.5rem;
      background-color: #000000;
      border-radius: 10rem;
      flex-shrink: 0;
      margin: 0rem 10.4rem 0rem 10.5rem;
    }
  }
}
